## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [6]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for x in application_df.columns:
  print(x, len(application_df[x].unique()))

EIN 34299
NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [3]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_counts[application_counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts = classification_counts[classification_counts > 1]
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)
classifications_to_replace
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df, dtype =float)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [9]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_dummies.drop('IS_SUCCESSFUL', axis = 1).values
y = application_dummies['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES 
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_input_features, activation ='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units = hidden_nodes_layer2, activation ='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation ='sigmoid' ))
# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 80)                5600

 dense_8 (Dense)             (None, 30)                2430

 dense_9 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,061
Trainable params: 8,061
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5763 - accuracy: 0.7167 - val_loss: 0.5595 - val_accuracy: 0.7354
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7262 - val_loss: 0.5572 - val_accuracy: 0.7365
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7287 - val_loss: 0.5598 - val_accuracy: 0.7321
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5524 - accuracy: 0.7296 - val_loss: 0.5551 - val_accuracy: 0.7269
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7301 - val_loss: 0.5607 - val_accuracy: 0.7326
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7316 - val_loss: 0.5583 - val_accuracy: 0.7297
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5482 - accuracy: 0.7314 - val_loss: 0.5579 - val_accuracy: 0.7321
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7323 - val_loss: 0.5530 - val_accuracy: 0.7334
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7327 - val_loss: 0.5565 - val_accuracy: 0.7354
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7337 - val_loss: 0.5544 - val_accuracy: 0.7323
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7327 - val_loss: 0.5512 - val_accuracy: 0.7336
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7333 - val_loss: 0.5545 - val_accuracy: 0.7339
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7334 - val_loss: 0.5534 - val_accuracy: 0.7341
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7334 - val_loss: 0.5583 - val_accuracy: 0.7357
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7345 - val_loss: 0.5536 - val_accuracy: 0.7321
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7338 - val_loss: 0.5522 - val_accuracy: 0.7331
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7340 - val_loss: 0.5549 - val_accuracy: 0.7346
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7349 - val_loss: 0.5514 - val_accuracy: 0.7346
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7339 - val_loss: 0.5514 - val_accuracy: 0.7365
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7357 - val_loss: 0.5512 - val_accuracy: 0.7349
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7358 - val_loss: 0.5543 - val_accuracy: 0.7339
Epoch 22/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7353 - val_loss: 0.5562 - val_accuracy: 0.7370
Epoch 23/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7360 - val_loss: 0.5491 - val_accuracy: 0.7344
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7345 - val_loss: 0.5500 - val_accuracy: 0.7344
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7355 - val_loss: 0.5498 - val_accuracy: 0.7334
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7365 - val_loss: 0.5627 - val_accuracy: 0.7357
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7357 - val_loss: 0.5554 - val_accuracy: 0.7344
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7360 - val_loss: 0.5560 - val_accuracy: 0.7349
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7364 - val_loss: 0.5573 - val_accuracy: 0.7359
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7366 - val_loss: 0.5509 - val_accuracy: 0.7359
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7370 - val_loss: 0.5516 - val_accuracy: 0.7352
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7362 - val_loss: 0.5533 - val_accuracy: 0.7362
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7362 - val_loss: 0.5561 - val_accuracy: 0.7349
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7371 - val_loss: 0.5517 - val_accuracy: 0.7365
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7370 - val_loss: 0.5525 - val_accuracy: 0.7370
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7375 - val_loss: 0.5551 - val_accuracy: 0.7370
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7375 - val_loss: 0.5524 - val_accuracy: 0.7362
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7377 - val_loss: 0.5533 - val_accuracy: 0.7378
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7360 - val_loss: 0.5586 - val_accuracy: 0.7352
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7375 - val_loss: 0.5529 - val_accuracy: 0.7326
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7378 - val_loss: 0.5534 - val_accuracy: 0.7334
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7374 - val_loss: 0.5526 - val_accuracy: 0.7349
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7378 - val_loss: 0.5570 - val_accuracy: 0.7378
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7365 - val_loss: 0.5510 - val_accuracy: 0.7357
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7367 - val_loss: 0.5595 - val_accuracy: 0.7349
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7374 - val_loss: 0.5593 - val_accuracy: 0.7357
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7378 - val_loss: 0.5567 - val_accuracy: 0.7354
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7368 - val_loss: 0.5587 - val_accuracy: 0.7370
Epoch 49/100
684/684 [==============================] - 3s 5ms/step - loss: 0.5388 - accuracy: 0.7368 - val_loss: 0.5569 - val_accuracy: 0.7378
Epoch 50/100
684/684 [==============================] - 4s 6ms/step - loss: 0.5382 - accuracy: 0.7379 - val_loss: 0.5546 - val_accuracy: 0.7349
Epoch 51/100
684/684 [==============================] - 3s 4ms/step - loss: 0.5380 - accuracy: 0.7383 - val_loss: 0.5586 - val_accuracy: 0.7354
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7385 - val_loss: 0.5608 - val_accuracy: 0.7326
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7380 - val_loss: 0.5605 - val_accuracy: 0.7341
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5384 - accuracy: 0.7381 - val_loss: 0.5597 - val_accuracy: 0.7352
Epoch 55/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7375 - val_loss: 0.5577 - val_accuracy: 0.7344
Epoch 56/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7381 - val_loss: 0.5566 - val_accuracy: 0.7359
Epoch 57/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7382 - val_loss: 0.5596 - val_accuracy: 0.7367
Epoch 58/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7379 - val_loss: 0.5594 - val_accuracy: 0.7344
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7384 - val_loss: 0.5585 - val_accuracy: 0.7354
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7382 - val_loss: 0.5623 - val_accuracy: 0.7362
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7394 - val_loss: 0.5591 - val_accuracy: 0.7359
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7389 - val_loss: 0.5598 - val_accuracy: 0.7339
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7383 - val_loss: 0.5604 - val_accuracy: 0.7357
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7389 - val_loss: 0.5591 - val_accuracy: 0.7341
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7387 - val_loss: 0.5611 - val_accuracy: 0.7357
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7390 - val_loss: 0.5599 - val_accuracy: 0.7344
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7389 - val_loss: 0.5636 - val_accuracy: 0.7341
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7389 - val_loss: 0.5602 - val_accuracy: 0.7344
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7383 - val_loss: 0.5629 - val_accuracy: 0.7352
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7388 - val_loss: 0.5676 - val_accuracy: 0.7341
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7387 - val_loss: 0.5673 - val_accuracy: 0.7357
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7389 - val_loss: 0.5729 - val_accuracy: 0.7354
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7394 - val_loss: 0.5677 - val_accuracy: 0.7365
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7389 - val_loss: 0.5625 - val_accuracy: 0.7365
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7387 - val_loss: 0.5648 - val_accuracy: 0.7357
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7384 - val_loss: 0.5712 - val_accuracy: 0.7349
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7395 - val_loss: 0.5709 - val_accuracy: 0.7367
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7396 - val_loss: 0.5761 - val_accuracy: 0.7349
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7400 - val_loss: 0.5749 - val_accuracy: 0.7357
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7386 - val_loss: 0.5765 - val_accuracy: 0.7367
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7392 - val_loss: 0.5817 - val_accuracy: 0.7334
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7392 - val_loss: 0.5665 - val_accuracy: 0.7359
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7394 - val_loss: 0.5632 - val_accuracy: 0.7359
Epoch 84/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7388 - val_loss: 0.5646 - val_accuracy: 0.7357
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7399 - val_loss: 0.5693 - val_accuracy: 0.7352
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7391 - val_loss: 0.5689 - val_accuracy: 0.7367
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7385 - val_loss: 0.5707 - val_accuracy: 0.7362
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7405 - val_loss: 0.5720 - val_accuracy: 0.7344
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5349 - accuracy: 0.7399 - val_loss: 0.5809 - val_accuracy: 0.7346
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7396 - val_loss: 0.5706 - val_accuracy: 0.7357
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7400 - val_loss: 0.5671 - val_accuracy: 0.7362
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7392 - val_loss: 0.5684 - val_accuracy: 0.7349
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7404 - val_loss: 0.5805 - val_accuracy: 0.7336
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7400 - val_loss: 0.5753 - val_accuracy: 0.7326
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7398 - val_loss: 0.5686 - val_accuracy: 0.7354
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7400 - val_loss: 0.5697 - val_accuracy: 0.7349
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7397 - val_loss: 0.5748 - val_accuracy: 0.7341
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7402 - val_loss: 0.5750 - val_accuracy: 0.7349
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7402 - val_loss: 0.5588 - val_accuracy: 0.7339
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7404 - val_loss: 0.5882 - val_accuracy: 0.7352

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5656 - accuracy: 0.7276 - 238ms/epoch - 887us/step
Loss: 0.5655755400657654, Accuracy: 0.727580189704895

In [18]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('../AlphabetSoup.h5')